@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  background-color: #fffdf6;
}

main {
  position: relative;
  z-index: 2;
  margin-bottom: 350px;
  background-color: #fffdf6;
}

footer {
  position: relative;
  z-index: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
}

h1 {
  font-family: Nohemi Vf, sans-serif;
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-family: Nohemi Vf, sans-serif;
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-family: Nohemi Vf, sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.navitem {
  font-family: Nohemi Vf, sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #333;
  align-items: center;
  justify-content: center;
  flex: content;
  cursor: pointer;
}

.slick-slide>div {
  margin: 20px 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@font-face {
  font-family: 'Nohemi Vf';
  src: url('https://uploads-ssl.webflow.com/64ea0eac16c9dfdb0a4aaca9/64ea1b0eb82f71fb77d44f8c_Nohemi-VF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


@layer utilities {
  .description {
    @apply regular-16 text-gray-30 pb-6
  }

  .outer_container {
    @apply lg:px-10 max-container padding-container flex flex-col gap-20 py-10 pb-10 md:gap-28 lg:py-20 xl:flex-row
  }

  .graph_container {
    @apply lg:px-10 max-container padding-container flex flex-col gap-0 pb-10 md:gap-28 xl:flex-row
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] font-[400];
  }

  .regular-24 {
    @apply text-[24px] font-[400];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .medium-14 {
    @apply text-[14px] font-[600];
  }

  .bold-200 {
    @apply text-[200px] font-[700] leading-[120%];
  }

  .bold-100 {
    @apply text-[100px] font-[700] leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }

  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }

  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }

}